/* General styles */
.container {
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .space-x-2 {
    display: flex;
    gap: 8px;
  }
  
  .mb-4 {
    margin-bottom: 16px;
  }
  
  .mt-4 {
    margin-top: 16px;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Button styles */
  .add-product-button {
    background-color: #ff720d;
    color: #ffffff;
    font-family: serif;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s;
  }
  
  .add-product-button:hover {
    background-color: #0008fe;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    margin-bottom: 16px;
  }
  
  .table th,
  .table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }
  
  .table th {
    font-family: serif;
    font-size: 14px;
  }
  
  .table td {
    font-size: 12px;
  }
  
  /* Image styles */
  .table img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  
  /* Pagination styles */
  .pagination-button {
    padding: 4px 8px;
    margin: 0 4px;
    font-size: 12px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #ff6c28;
  }
  
  .pagination-button.active {
    background-color: #1a34f7;
    color: #ffffff;
  }
  