h1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: blue;
  transition: all 0.3s ease;
}

h1:hover {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color: #ff6347; 
  text-shadow: 2px 2px 5px rgba(19, 3, 250, 0.2);
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
}
.navbar .logo {
  width: max(10%,80px);
}

.navbar .profile {
  width: 40px;
}



.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-icon {
  font-size: 1.5rem;
  color: #333;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #d32f2f;
}
